name: CI
permissions: {}
on:
- push
- pull_request
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: |
        pip install docutils
    - run: |
        make

# vim:ts=2 sts=2 sw=2 et
